#!/usr/bin/env ruby

# A few helpful tips about the Rules file:
#
# * The string given to #compile and #route are matching patterns for
#   identifiers--not for paths. Therefore, you can’t match on extension.
#
# * The order of rules is important: for each item, only the first matching
#   rule is applied.
#
# * Item identifiers start and end with a slash (<.g. “/about/” for the file
#   “content/about.html”). To select all children, grandchildren, … of an
#   item, use the pattern “/about/*/”; “/about/*” will also select the parent,
#   because “*” matches zero or more characters.

# http://nanoc.ws/docs/guides/paginating-articles/

preprocess do
  paginate_articles
end
compile '/blog/archive/**/*' do
  filter :erb
  layout '/default.*'
  write item.identifier.without_ext + '/index.html'
end

compile '/index.*' do
  filter :erb
  layout '/default.*'
  write item.identifier.without_exts + '.html'
end

compile '/index.*', rep: :blog_root do
  filter :erb
  layout '/default.*'
  write '/blog' + item.identifier.without_exts + '.html'
end

compile '/posts/**/*' do
  filter :kramdown, input: :GFM, coderay_line_numbers: nil
  layout '/article.*'
  layout '/default.*'
  write post_url(item, has_extension: true)
end

compile '/atom.*' do
  filter :erb
  write ext: 'xml'
end

passthrough '/CNAME'
passthrough '/humans.txt'
passthrough '/robots.txt'

compile '/static/**/*' do
  write item.identifier.to_s.sub(/\A\/static/, '')
end

layout '/**/*.erb', :erb
