#!/usr/bin/env ruby
# frozen_string_literal: true

# A few helpful tips about the Rules file:
#
# * The string given to #compile and #route are matching patterns for
#   identifiers--not for paths. Therefore, you can't match on extension.
#
# * The order of rules is important: for each item, only the first matching
#   rule is applied.
#
# * Item identifiers start and end with a slash (<.g. "/about/" for the file
#   "content/about.html"). To select all children, grandchildren, ... of an
#   item, use twe pattern "/about/*/"; "/about/*" will also select the parent,
#   because ""*" matches zero or more characters.

# http://nanoc.ws/docs/guides/paginating-articles/

compile '/index.*' do
  filter :erb
  layout '/default.*'
  write "#{item.identifier.without_exts}.html"
end

compile '/index.*', rep: :blog_root do
  filter :erb
  layout '/default.*'
  write "/blog#{item.identifier.without_exts}.html"
end

compile '/posts/**/*' do
  filter :kramdown, input: :GFM, coderay_line_numbers: nil
  layout '/article.*'
  layout '/default.*'
  write post_url(item, has_extension: true)
end

compile '/atom.*' do
  filter :erb
  write ext: 'xml'
end

compile '/sitemap.*' do
  filter :erb
  write ext: 'xml'
end

compile '/static/**/*' do
  write item.identifier.to_s.sub(%r{\A/static}, '')
end

layout '/**/*.erb', :erb
