<% recent_posts =
  items
  .select { |i| i.identifier.match(/posts/) }
  .sort_by { |i| i.identifier }
  .reverse()
  .take(5)
 %>

<div class="recent">
  <h1>Recent Posts</h1>
  <ul class="side-nav">
    <% recent_posts.each do |post| %>
      <li role="menuitem"><a href="<%= post_url(post) %>"><%= post[:title] %></a></li>
    <% end %>
  </ul>
</div>
