---
title: Home
---
<ol class="articles">
  <% articles.each do |article| %>
    <li>
      <div class="date"><%= published_at(article).to_s %></div>
      <a href="<%= post_url(article) %>"><%= article[:title] %></a>
    </li>
  <% end %>
</ol>
