<!doctype html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>A Brand New nanoc, foundation Site - <%= @item[:title] %></title>
    <link rel="stylesheet" href="/css/app.css"/>
    <script src="/js/modernizr.js"></script>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <!-- Ported from http://zurb.com/blog -->
    <header class="interior-header green">
      <div class="row">
        <div class="medium-12 medium-centered centered-text columns">
          <h1 class="centered-text light white-text">yysaki blog</h1>
          <nav>
            <ul class="subnav hide-for-small">
              <li><a class="current" href="/blog/">Home</a></li>
              <li><a href="/blog/topics">Topics</a></li>
              <li><a href="/blog/archives">Archives</a></li>
              <li><a href="/blog/updates">About</a></li>
              <li class="with-input">
                <form method="get" action="#" name="search" accept-charset="utf-8">
                  <input class="input-text" placeholder="サイト内を検索" type="text">
                </form>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </header>

    <div class="row">
      <div class="large-9 midium-8 columns">
        <main role="main">
        <%= yield %>
        </main>
      </div>

      <div class="large-3 medium-4 columns end">
        <aside class="sidebar">
          <div class="about">
            <h1>About Me</h1>
            <ul class="side-nav">
              <li role="menuitem"><a href="http://twitter.com/yysaki">@yysaki on Twitter</a></li>
              <li role="menuitem"><a href="http://github.com/yysaki">@yysaki on Github</a></li>
            </ul>
          </div>

          <div class="recent">
            <h1>Recent Posts</h1>
            <ul class="side-nav">
              <li role="menuitem"><a href="/blog/2014/02/12/octopress-as-a-tracer-bullet/">Octopress as a Tracer Bullet</a></li>
              <li role="menuitem"><a href="/blog/2014/02/09/octopress-from-wordpress/">Wordpressからoctopressへの引っ越し</a></li>
              <li role="menuitem"><a href="/blog/2013/12/29/reading-built-pdf-by-skim/">ビルドしたpdfをsshfsからSkimで読む</a></li>
              <li role="menuitem"><a href="/blog/2013/12/14/blockdiag/">Blockdiagのエラーを解決できず…</a></li>
              <li role="menuitem"><a href="/blog/2013/04/04/shell-operation-test-on-bash/">『シェル操作課題 』をシェルで解きなおす</a></li>
            </ul>
          </div>
        </aside>
      </div>
    </div>

    <script src="/js/jquery.js"></script>
    <script src="/js/foundation.js"></script>
    <script src="/js/app.js"></script>
  </body>
</html>
