@import "settings";
@import "~foundation-sites/scss/foundation";

// Include required Foundation components
@include foundation-global-styles;
@include foundation-grid;
@include foundation-flex-grid;
@include foundation-typography;
@include foundation-visibility-classes;
@include foundation-float-classes;
@include foundation-flex-classes;

*,:before,:after
{
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  box-sizing:border-box;
}

html,body
{
  font-size:100%;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
  font-smooth:always;
  text-rendering:geometricPrecision;
}

body
{
  background:#FFF;
  font-family:"Helvetica Neue",Helvetica,Helvetica,Arial,sans-serif;
  font-weight:400;
  font-style:normal;
  line-height:1;
  position:relative;
  color:#333;
  -webkit-font-smoothing:antialiased;
  margin:0;
  padding:0;
}

h1 {
  font-size: 2rem;
  margin: .5rem auto 0;
}

h2 {
  font-size: 1.5rem;
  margin: 4rem auto 0;
}

h3 {
  font-size: 1.2rem;
  margin: 2rem auto 0;
}

p {
  margin-top: 1rem;
}

.articles {
  list-style-type: none;
  padding-left: 0;

  li a {
    font-size: 1.5rem;
  }

  li + li {
    margin-top: 2rem;
  }
}

pre code {
  background-color: transparent;
  border-radius: 0;
  color: #eee;
  padding: 0;
}

pre {
  background-color: #444;
  line-height: 1.3;
  margin: 2rem 0;
  overflow-x: auto;
  padding: .75rem;
}

.light
{
  font-weight:200!important;
}

.centered-text
{
  text-align:center;
}

.white-text
{
  color:#FFF;
}

.interior-header
{
  background-color:#3e62ad;
  background:#3e62ad;
}

.interior-header h1 a
{
    color:#FFF;
}

ul.subnav
{
  display:block;
  float:right;
}

ul.subnav li
{
  list-style:none;
  display:block;
  float: left;
}

ul.subnav li a
{
  display:block;
  color:#FFF;
  font-size:14px;
  padding:4px 15px;
}

ul.nav li a:hover,.interior-header p.title-text.white-text a
{
  color:#fff;
}

@media only screen and (max-width: 767px) {
  .interior-header
  {
    height:auto;
    margin-bottom:30px;
  }

  .interior-header h1
  {
    line-height:1;
    font-size:2.5em;
    text-align:left;
    -webkit-transition:all .3s ease;
    -moz-transition:all .3s ease;
    -o-transition:all .3s ease;
    -ms-transition:all .3s ease;
    margin:30px 0;
  }

  .interior-header ul.title-area li.name h1
  {
    display:inline-block;
    margin-top:0;
    margin-left:-10px;
    padding:0;
  }

  .interior-header ul.title-area li.name h1 a
  {
    opacity:1;
    filter:alpha(opacity=75);
    font-family:zurb-logo;
    font-weight:400;
    font-size:36px;
    text-rendering:auto;
    padding:0;
  }

  .interior-header ul.title-area li.name a
  {
    display:inline-block;
    padding:10px;
  }

  .interior-header ul.title-area li.name a img
  {
    vertical-align:initial!important;
    width:20px!important;
  }
}

@media only screen and (min-width: 768px) {
  .interior-header
  {
    margin-bottom:4em;
  }

  .interior-header h1
  {
    font-size:5em;
    margin-bottom:48px;
    margin-top:70px;
    line-height:1;
    -webkit-transition:all .3s ease;
    -moz-transition:all .3s ease;
    -o-transition:all .3s ease;
    -ms-transition:all .3s ease;
  }

  .interior-header h1 a
  {
    display:inline!important;
  }

  .interior-header .subnav
  {
    float:none;
    margin-top:0;
    text-align:center;
    margin-bottom:0;
  }

  .interior-header .subnav li
  {
    float:none;
    display:inline-block;
  }

  .interior-header .subnav li a
  {
    letter-spacing:1px;
    font-size:13px;
    color:#FFF;
    font-weight:600!important;
    font-family:ProximaNovaCond, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform:uppercase;
    display:block;
    padding:13px 15px 10px;
  }

  .interior-header p.title-text
  {
    padding-top:56px;
  }

  .interior-header .subnav form,.interior-header .subnav form input
  {
    margin-bottom:0;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .interior-header
  {
    height:auto;
    margin-bottom:4em;
  }

  .interior-header h1
  {
    font-size:3.5em;
    -webkit-transition:all .3s ease;
    -moz-transition:all .3s ease;
    -o-transition:all .3s ease;
    -ms-transition:all .3s ease;
  }
}

@media only screen and (min-width: 1024px) {
  .interior-header p.title-text
  {
    padding-top:56px;
  }

  .interior-header.smaller p.title-text
  {
    padding-top:18px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  ul.subnav
  {
    float:none;
    text-align:center;
    margin-top:-9px;
    margin-bottom:0;
  }

  ul.subnav li
  {
    float:none;
    display:inline-block;
  }

  ul.subnav li a
  {
    color:rgba(255,255,255,0.75);
    margin:0 15px;
    padding:4px 0 5px;
  }
}
