name: Status Check
on:
  push:
    branches:
      - '**'
      - '!main'

jobs:
  check1:
    runs-on: ubuntu-latest

    steps:
      - name: something test1
        run: exit 1

  check2:
    runs-on: ubuntu-latest

    steps:
      - name: something test2
        run: exit 0
